:root{
    --black: #000000ff;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --platinum: #e5e5e5ff;
    --white: #ffffffff;
    
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        
        transform: translateX(0);
    }
  }
  
  @keyframes slideInDown {
    0% {
        opacity: 0;
         transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
*{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--black);
}
body{
    background-color: var(--black);
}
html{
    background-color: var(--black);
    scroll-behavior: smooth;
    color:var(--white);
}
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
    max-height: 10%;
    padding: 10px;
    border-bottom: 4px solid var(--platinum);
    z-index:2;
    background-color: var(--black);
    color: var(--platinum);
}

header span{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content:center;
}
header span p{
    opacity:0;
    animation: 1.7s ease-out 1s 1 slideInDown;
    animation-fill-mode: forwards;
}

h1{
    z-index: 2;
    background-color: var(--black);
    animation: 1s ease-out 0s 1 slideInLeft;
}

h1 + div{
    display:flex;
    flex-direction:column;
    font-size: medium;
    font-weight: 500;
    max-width:fit-content;
    position: relative;
    left: 30px;
    bottom: 20px;
}
header a:hover{
    color: var(--orange-web);
    box-shadow: 0px 0px 10px 0px var(--white);
}
header a{
    text-decoration: none;
    color: var(--light);
    background-color: var(--dark);
    border-radius: 30px;
    padding:10px;
    margin: 5px;
    border: 3px solid var(--med);
}
nav{
    max-width: 50%;
    min-width:30%;
    position: relative;
    display: flex;
    flex-direction:row;
    align-items: center;
    animation: 2.3s ease-out 0s 1 slideInDown;
}

.main_info{
    display: flex;
    flex-direction:column;
    max-height: fit-content;
    z-index:1;
}
/* h2{
    color: var(--light);
    display: flex;
    position:relative;
    background-color: var(--med);
    border-radius: 10px;
    padding: 5px;
    max-width:fit-content;
    border:4px solid var(--dark);
    z-index:2;
    float:left;
} */
main{
    background-color: var(--black);
}
section{
    z-index: 0;
    background-color: var(--black);
    color:var(--platinum);
}


#contact_me{
    position:relative;
    top:100px;
    align-items: center;
    margin:auto;


}
@media screen and (max-width: 750px) {
  #gallery,
  #my_work,
   main, #about_me{
    flex-direction: column;
  }

  #patrick_img,
  .main_info, #about_me{
    margin:auto;
    margin-left:0;
  }
}

#about_links{
    list-style: none;
    font-size: 30px;
}
h2{
    display:block;
    text-decoration: underline;
    margin: auto;
}
#about_me{
    display:flex;
    flex-direction: row;
    position:relative;
    top:50px;
    margin: auto;
    padding:20px;
    z-index: 1;
    max-width: fit-content;
}
#about_me p{
    display: flex;
    font-size: 20px;
    justify-self: center;
    padding:15px;
    text-align:justify;
    text-indent: 50px;
    max-width: 500px;
}
#about_content{
    display:flex;
    flex-direction: column;
}
#patrick_img{
    max-width: 300px;
    border-radius: 50%;
    top: 40px;
    float:left;
    z-index:1;

}

.home_button{
    background-color: var(--orange-web);
    color: var(--platinum);
    max-width: fit-content;
    padding:5px;
    border-radius: 5px;
    margin:10px;
}
#my_work{
    z-index: 2;
    max-width: 90%;
    display:flex;
    flex-direction: column;
    padding: 30px;
    margin:30px;
    max-height: 300px;
 }
#work_carousel{
    max-width: 50%;
}

.hidden{
    display:none;
}
