:root{
    --black: #000000ff;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --platinum: #e5e5e5ff;
    --white: #ffffffff;
    --neon-blue: #5465ffff;
    --cornflower-blue: #788bffff;

    --card-height: 40vw;
	--card-margin: 4vw;
	--card-top-offset: 2em;
	--numcards: 4;
	--outline-width: 0px;
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        
        transform: translateX(0);
    }
  }
  
  @keyframes slideInDown {
    0% {
        opacity: 0;
         transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
*{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

html{
    background-color: var(--oxford-blue);
    scroll-behavior: smooth;
    color:var(--white);
}
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
    max-height: 10%;
    padding: 10px;
    border-bottom: 2px dotted var(--platinum);
    z-index:2;
    background-color: var(--black);
    color: var(--platinum);
}

header span{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content:center;
}
header span p{
    opacity:0;
    animation: 1.7s ease-out 1s 1 slideInDown;
    animation-fill-mode: forwards;
}

h1{
    z-index: 2;
    background-color: var(--black);
    animation: 1s ease-out 0s 1 slideInLeft;
    font-weight: 300;
	font-size: 3.5em;
}

h1 + div{
    display:flex;
    flex-direction:column;
    font-size: medium;
    font-weight: 500;
    max-width:fit-content;
    position: relative;
    left: 30px;
    bottom: 20px;
}
header a:hover{
    color: var(--orange-web);
    box-shadow: 0px 0px 10px 0px var(--white);
}
header a{
    text-decoration: none;
    color: var(--platinum);
    background-color: var(--neon-blue);
    border-radius: 30px;
    padding:10px;
    margin: 5px;
}
nav{
    max-width: 50%;
    min-width:30%;
    position: relative;
    display: flex;
    flex-direction:row;
    align-items: center;
    animation: 2.3s ease-out 0s 1 slideInDown;
}

.main_info{
    display: flex;
    flex-direction:column;
    max-height: fit-content;
    z-index:1;
}
main{
    background-color: var(--oxford-blue);
}
section{
    z-index: 0;
    background-color: var(--oxford-blue);
    color:var(--platinum);
}


#contact_me{
    position: relative;
    top:150px;
    margin-bottom: 300px;;
    align-items: center;
    margin:auto;
    opacity: 1;
}
@media screen and (max-width: 750px) {
  #gallery,
  #my_work,
   main, #about_me{
    flex-direction: column;
  }

  #patrick_img,
  .main_info, #about_me{
    margin:auto;
    margin-left:0;
  }
}

#about_links{
    list-style: none;
    font-size: 30px;
}
h2{
    display:block;
    text-decoration: underline;
    margin: auto;
    font-weight: 300;
	font-size: 2.5em;
}
#about_me{
    display:flex;
    flex-direction: row;
    position:relative;
    top:50px;
    margin: auto;
    padding:20px;
    z-index: 1;
    max-width: fit-content;
    opacity:1;
}
#about_me p{
    display: flex;
    font-size: 20px;
    justify-self: center;
    padding:15px;
    text-align:justify;
    text-indent: 50px;
    max-width: 500px;
}
#about2{
    position: relative;
    top:-100px;
    justify-content: center;
    align-content: center;
    margin: auto;
    z-index: 2;
    max-width: 80%;
}
#about2 h2{
   text-align: center;
}
#about_content{
    display:flex;
    flex-direction: column;
}
#patrick_img{
    max-width: 300px;
    border-radius: 50%;
    top: 40px;
    float:left;
    z-index:1;

}

#my_work{
    z-index: 2;
    max-width: 90%;
    display:flex;
    flex-direction: column;
    padding: 30px;
    margin:30px;
    opacity:1;
    max-height: 300px;
 }
.hidden{
    opacity: 0;
}

iframe{
    max-width: 70%;
    min-height: fit-content;
    margin: auto;
    border: 0;
    display:block;
}






#cards {
	padding-bottom: calc(var(--numcards) * var(--card-top-offset)); 
	margin-bottom: var(--card-margin); 
}

#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
    min-height: 50%;
}


.card {
	position: sticky;
	top: 0;
    background: none;
	padding-top: calc(var(--index) * var(--card-top-offset));
    border: none;
}

#resume{
    align-content: center;
    justify-content: center;
    margin:0 auto;
    display:block;
}

#cards {
	list-style: none;
	
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--numcards), var(--card-height));
	gap: var(--card-margin);
}



.card__content {
	background: var(--cornflower-blue);
	color: var(--platinum);
	border-radius: 1em;
	overflow: hidden;

	display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

	align-items: stretch;
	
}

.card__content > div{
	grid-area: text;
	width: 80%;
	place-self: center;
	text-align: left;

	display: grid;
	gap: 1em;
	place-items: start;
}


.card__content > figure {
	grid-area: img;
	overflow: hidden;
}

.card__content > figure > img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}
#card_3 > .card__content{
    height: 100%;
} 
p {
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.42;
}

.btn {
	background: var(--orange-web);
	color: var(--white);
	text-decoration: none;
	display: inline-block;
	padding: 0.5em;
	border-radius: 0.25em;
}

aside {
	width: 50vw;
	margin: 0 auto;
	text-align: left;
}


figure{
    align-content: center;
    justify-content: center;

}

#triple{

    flex-direction: row;
    display: flex;
    overflow: hidden;
}
ul{
    margin-bottom: 0;
}
footer{
    height: 300px;
}
.image_triple{
    max-width: 33%;
    max-height: 100%;
    margin:0;
    padding:0;
}
.image_triple img{
    height: auto; 
    width: auto; 
    margin-top: 20%;
    max-width: 200%; 
    max-height: 60%;
}
.image_triple img:hover {

    overflow: visible;
    transform: scale(1.1);
  }